<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RuRo.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RuRo.BLL.Properties.Settings>
            <setting name="BLL_BasicData_EmpiService" serializeAs="String">
                <value>http://192.9.198.41:8016/EmpiService.asmx</value>
            </setting>
            <setting name="BLL_ClinicalData_PacsLisReportServices" serializeAs="String">
                <value>http://192.9.198.41:8030/PacsLisReportServices.asmx</value>
            </setting>
            <setting name="RuRo_BLL_BasicData_EmpiService" serializeAs="String">
                <value>http://192.9.198.41:8016/EmpiService.asmx</value>
            </setting>
            <setting name="RuRo_BLL_ClinicalData_PacsLisReportServices" serializeAs="String">
                <value>http://192.9.198.41:8030/PacsLisReportServices.asmx</value>
            </setting>
            <setting name="RuRo_BLL_PTtest_ChasCommonSvc" serializeAs="String">
                <value>http://192.9.200.59:9080/ChasSvc/services/ChasCommonPort</value>
            </setting>
        </RuRo.BLL.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ChasCommonSOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.9.200.59:9080/ChasSvc/services/ChasCommonPort"
                binding="basicHttpBinding" bindingConfiguration="ChasCommonSOAP"
                contract="GetQueryPT.ChasCommonPT" name="ChasCommonPort" />
        </client>
    </system.serviceModel>
</configuration>